body {
  margin: 3%;
}

header {
  padding: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #333;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

a:hover {
  color: #666;
}
